
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: rgb(138, 43, 226);
  margin-left: 2rem;
  margin-right: 3rem;
}

img {
  color: rgb(138, 43, 226);
  background-color: rgb(138, 43, 226);
}
.adress {
  color: purple;
  margin-left:75%;
  text-align: center;
}
h4{
  font-style:italic;
  text-decoration: underline;
  margin-left: 1rem;
}
body {
  margin: 0px;
  background-color: darkred;
  background-image: url("../Images/annie-spratt-osuiatBDTww-unsplash.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: rgb(228, 39, 39);
}
.work {
  color: white;
}
.work p {
  color: green;
}
.school {
  color: white;
}
.school p {
  color: green;
}
.hobby p {
font-weight:600;
color:aqua;
}
.col-sm {
  color: rgb(228, 39, 39) !important;
  gap:2rem;
  margin-left: 0.5rem;
}

#nav {
  background-color: none;
}

h3 {
  color: darkred;
  background-color: white;
}

.btn-outline-dark {
  color: darkred;
  background-color: white;
  margin-left: 15px;
  gap: 2rem;
  
}

.btn-outline-dark:hover {
  background-color: darkred;
  color: white;
  margin-left: 15px;
  gap: 2rem;
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

button#prev {
  left: 10px;
}

button#next {
  right: 10px;
}
     /* dark mode coding */

.dark-mode {
  background-color: #8f8d96;
  color: #df0a0a;
  transition: all 0.4s ease-in;
  background-image: none;
  
  
}

.dark-mode p {
color:rgb(228, 39, 39);

}

.dark-mode h3 {
color:black;

}

.dark-mode h4 {
  color:black;
  
  }

  .dark-mode td {
    color: red;
    
  }

  .dark-mode .adress {
    color:red;
    
    }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}


.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: darkred;
}


input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}


input:checked + .slider:before {
  transform: translateX(1.63rem);
}

.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 48px);
  place-content: center;
}

#slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}

button {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

button#prev {
  left: 50px;
}

button#next {
  right: 50px;
}

.fade-in {
  width: min(100% - 2rem, 1200px);
  margin-left: 6rem;
}

.fade-in {
  animation: fade-in 4s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
row {
  gap: 4rem;
}
